<div class=" border-box flex column center-center">
    <h3 class="green">Contact Us</h3>
    <div class="flex gap-1em black-bg white back full-width">
        <div class="padding-10px border-box">
            <h3 class="text-center">4WM Innovations</h3>
            <mat-divider></mat-divider>
            <p class="text-center">
                4WM Innovations specialize in delivering innovative technology solutions to meet your business needs. Whether you need custom software development, mobile apps, or IT consulting, our team is here to help. Reach out to us today, and let us turn your vision into reality
            </p>
        </div>
        <div class="padding-10px border-box">
            <h3 class="text-center">Contact Details</h3>
            <mat-divider></mat-divider>
            <div class="flex column gap-1em">
                <div class="row flex text-center1 gap-1em">
                    <div>
                        <span class="material-symbols-outlined">
                            location_on
                            </span>
                    </div>
                    <div>
                        <p>15 Macnab Road Illiondale Edenavle 1609 Gauteng</p>
                    </div>
                </div>
                <div class="row flex text-center1 gap-1em">
                    <div>
                        <span class="material-symbols-outlined">
                            call
                            </span>
                    </div>
                    <div>
                        <p>(+27) 61 422 7501</p>
                    </div>
                </div>
                <div class="row flex text-center1 gap-1em">
                    <div>
                        <span class="material-symbols-outlined">
                            mail
                            </span>
                    </div>
                    <div>
                        <p>kgothatsotheko7&#064;gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="green-bg full-width flex text-center column padding-10px border-box">
        <h4>4WM Innovations. All rights resevered™️.</h4>
        <div class="flex center-center gap-1em">
        <i class="fa fa-linkedin-square" style="font-size:24px"></i>
        <i class="fa fa-youtube-play" style="font-size:24px"></i>
        </div>
    </div>
</div>
