<div class="padding-10px border-box flex column center-center">
    <h3 class="text-center green">Our Company</h3>
    <div class="flex gap-1em">
        <div class="column gap-1em">
        <h3>COMPLEX IDEAS INTO SIMPLE SOLUTIONS</h3>
        <p class="text-center">We transform complex challenges into innovative solutions. Our team of experts specializes in web and mobile development, IT consulting, and cutting-edge software integration. We are dedicated to helping businesses thrive by providing customized solutions that improve efficiency, drive growth, and enhance user experiences. With a focus on technology and client satisfaction, we work closely with you to bring your ideas to life and take your business to the next level.</p>
        </div>
        <img src="../../../assets/Digital transformation-amico.svg" alt="logo-image" width="50%">
    </div>
    <h3 class="text-center green">Meet Our Team</h3>
    <div class="row flex gap-1em wrap center-center">
        <mat-card class="flex column center-center width-45p white card padding-5px border-box no-relative">
            <div class="full-width center-center flex round">
                <img mat-card-md-image src="https://media.licdn.com/dms/image/v2/C4D03AQEKAMFQYds-3g/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1655394383989?e=1740009600&v=beta&t=bDpsYVxyh50XnMD4C2oHnW8G84Xd46hG5fwzeslzb4A"  alt="me-image" width="100%" class="no-relative">
            </div>
            <h4 class="no-margin">Kgothatso Theko</h4>
            <mat-card-subtitle class="green text-center">Founder, CEO & Developer</mat-card-subtitle>
            <div class="flex gap-1em center-center">
                <a href="https://www.linkedin.com/in/kgothatso-theko-197241226/">
                    <i class="fa fa-linkedin-square" style="font-size:24px"></i>
                </a>
                <a href="https://portfolio-v1-45c8d.web.app/">
                    <span class="material-symbols-outlined">
                        globe
                    </span>
                </a>
            </div>
        </mat-card>
        <mat-card class="flex column center-center width-45p white card padding-5px border-box no-relative">
            <div class="full-width center-center flex round">
                <img mat-card-md-image src="https://media.licdn.com/dms/image/v2/C4D03AQFY6cYghh7bJw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1660127576083?e=1740009600&v=beta&t=swpdIVhx07M_uHwucnTqf7Q7O0xq-2Y3ZsVVy4M0elY"  alt="yende-image" width="100%" class="no-relative">
            </div>
            <h4 class="no-margin">Karabo Yende</h4>
            <mat-card-subtitle class="green text-center">Business Analyst & UI/UX Designer</mat-card-subtitle>
            <div class="flex gap-1em center-center">
                <a href="https://www.linkedin.com/in/karabo-yende-737301247/">
                    <i class="fa fa-linkedin-square" style="font-size:24px"></i>
                </a>
            </div>
        </mat-card>
    </div>
</div>