a {
    color: #fff;
}

.texting {
    color: #0881a3;
}

.change {
    text-decoration: none;
    color: black;
}

.change:hover {
    color: #0881a3;
}

.card {
    height: 245px;
}

@media only screen and (max-width: 550px) {
    .back {
      flex-direction: column;
    }

    .ex {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .make80p {
        width: 80%;
    }

    .make100p {
        width: 100%;
    }
  }