button {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: "Poppins";
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px !important;
    height: 60px !important;
    cursor: pointer;
}

button:hover{
    color: white;
}

button:nth-child(1){
    background-color: #0881a3;
}
button:nth-child(2):hover{
    color: #0881a3;
}

.makeColumn {
    @media (max-width: 666px) {
        flex-direction:column;
    }
    
}

.makeFull {
    @media (max-width: 666px) {
        width: 100%;
    }
}