<div class="padding-10px border-box flex column center-center">
    <h3 class="blue">Our Work</h3>
    <div class="flex wrap gap-1em full-width">
        <div class="width-47p padding-5px border-box project-container">
            <div class="image-container flex center-center">
                <img src="../../../assets/project.png" alt="project1" class="index-1" width="50%">
                <!-- Overlay text -->
                <div class="overlay-text flex center-center column">
                    <p class="text-center">Focused Network Mobile Application</p>
                    <div class="flex center-center gap-1em">
                        <a href="https://play.google.com/store/apps/details?id=com.FourWMInnovations.focusNetworkApp">
                            <span class="material-symbols-outlined">
                                android
                            </span>
                        </a>
                        <!-- <a href="#">
                            <span class="material-symbols-outlined">
                                ios
                            </span>
                        </a> -->
                    </div>
                </div>
            </div>
            <!-- <h4 class="text-center">Focused Network Mobile Application</h4>
            <div class="flex center-center gap-1em">
                <a href="https://play.google.com/store/apps/details?id=com.FourWMInnovations.focusNetworkApp">
                    <span class="material-symbols-outlined">
                        android
                    </span>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        ios
                    </span>
                </a>
            </div> -->
        </div>
        <div class="width-47p padding-5px border-box project-container">
            <div class="image-container flex center-center">
                <img src="../../../assets/project2.png" alt="project2" class="index-1" width="50%">
                <!-- Overlay text -->
                <div class="overlay-text2 flex center-center column">
                    <p class="text-center">CampusHub Mobile Application</p>
                    <div class="flex center-center gap-1em">
                        <a href="#">
                            <span class="material-symbols-outlined">
                                android
                            </span>
                        </a>
                        <!-- <a href="#">
                            <span class="material-symbols-outlined">
                                ios
                            </span>
                        </a> -->
                    </div>
                </div>
            </div>
            <!-- <h4 class="text-center">CampusHub Mobile Application</h4>
            <div class="flex center-center gap-1em">
                <a href="https://play.google.com/store/apps/details?id=com.FourWMInnovations.focusNetworkApp">
                    <span class="material-symbols-outlined">
                        android
                    </span>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        ios
                    </span>
                </a>
            </div> -->
        </div>
    </div>
</div>