.example-spacer {
    flex: 1 1 auto;
  }

  .pop {
    font-family: 'Poppins';
  }

  .padding-16px {
    padding: 10%;
  }

  h3 {
    font-family: 'Poppins';
  }

  .tool {
    margin-right: 15%;
    cursor: pointer;
    @media (max-width: 832px) {
        display: none
    }
    
}

.item:hover {
    color: #0881a3;
}