<div class="padding-10px border-box flex column center-center">
    <h3 class="green">What We Do</h3>
    <img src="../../../assets/agile method-amico.svg" alt="agile-image" width="50%">
    <div class="flex wrap gap-1em full-width">
        <mat-card class="width-47p padding-5px border-box no-relative">
            <div class="round center-center flex">
                <img src="../../../assets/Programmer-amico.svg" alt="IT" width="50%">
            </div>
            <h3 class="white text-center green">IT Consulting</h3>
            <p class="white text-center no-margin">
                <small>Realistic understanding of what user expects, wants and hates about digital products and hardware needed to automate or run business practices.</small>
            </p>
        </mat-card>
        <mat-card class="width-47p padding-5px border-box no-relative">
            <div class="round center-center flex">
                <img src="../../../assets/Mobile development-bro.svg" alt="mobile" width="50%">
            </div>
            <h3 class="white text-center green">Mobile Applications</h3>
            <p class="white text-center no-margin">
                <small>We specialize in making robust digital products. Whether it be Android or IOS we offer developement and live environement for both.</small>
            </p>
            <div class="flex center-center gap-1em">
                    <span class="material-symbols-outlined" matTooltip="Android Development">
                        android
                    </span>
                    <span class="material-symbols-outlined" matTooltip="Apple Development">
                        ios
                    </span>
            </div>
        </mat-card>
        <mat-card class="width-47p padding-5px border-box no-relative">
            <div class="round center-center flex">
                <img src="../../../assets/Development-cuate.svg" alt="website" width="50%">
            </div>
            <h3 class="white text-center green">Web Applications</h3>
            <p class="white text-center no-margin">
                <small>Our developemnt team excels at building high performance products accross all platforms and devices.</small>
            </p>
            <div class="flex center-center gap-1em">
                    <span class="material-symbols-outlined" matTooltip="Website Development">
                        globe
                    </span>
            </div>
        </mat-card>
        <mat-card class="width-47p padding-5px border-box no-relative">
            <div class="round center-center flex">
                <img src="../../../assets/Software integration-amico.svg" alt="mobile" width="50%">
            </div>
            <h3 class="white text-center green">Software Integration</h3>
            <p class="white text-center no-margin">
                <small>Providing seamless integration with new digital products into existing software.</small>
            </p>
            <div class="flex center-center gap-1em">
                <span class="material-symbols-outlined" matTooltip="Software Integration">
                    integration_instructions
                </span>
            </div>
        </mat-card>
    </div>
</div>
