<div class="padding-10px border-box flex column center-center full-width">
    <h3 class="green">Testimonials</h3>
    <mat-tab-group headerPosition="below" color="accent" class="index-1">
        <mat-tab label="Mrs. Shirley Nhlengethwa">
            <div class="padding-5px border-box">
                <mat-card class="text-center padding-5px border-box green-bg black">
                    <p>"Amzing work on our mobile application. Always communicated and kept up to date on progress of project to complete. Definetly doing business again in future for updates and new features."</p>
                    <h4 class="no-margin"><small>Shirley Nhlengethwa</small></h4>
                    <p class="white no-margin"><small>Focused Network Founder & Chairperson</small></p>
                </mat-card>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Second"> Content 2 </mat-tab> -->
        <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
    </mat-tab-group>
</div>
